.form {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 400px;

    label {
        color: #58a4b0;
        font-family: "Raleway", sans;
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    input, textarea {
        border: 1px solid lighten(#58a4b0, 25%);
        font-size: 1rem;
        font-family: inherit;
        margin-bottom: 1rem;
        padding: .5rem;
        outline: none;
    }

    button {
        background: lighten(#58a4b0, 40%);
        border: none;
        color: #58a4b0;
        cursor: pointer;
        font-family: inherit;
        font-size: 1rem;
        max-width: 100px;
        padding: .5rem 1rem;
    }
}

.social-links {
    padding: 0 2rem;
    display: flex;
    justify-content: center;

    img {
        height: 30px;
        width: 30px;
        opacity: .3;
        margin: 2rem .5rem;
    }
}