.about {

    &__image {
        max-width: 300px;
    }
}

.text--center {
    text-align: center;
}

h3 {
    font-family: "Raleway", sans;
    color: lighten(#58a4b0, 25%);
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}