.about {

    &__image {
        max-width: 600px;
        width: 33%;
    }

    &__wrapper {
        align-items: center;
        display: flex;
        margin: 0 auto;
    }

    &__content {
        max-width: 800px;
        padding: 4rem;
    }

    h3 {
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.brands {

    h3 {
        color: #fff;
        opacity: .65;
    }

    ul {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2rem;
        overflow: hidden;
    }

    ul li {
        margin-bottom: 1rem;
        text-align: center;
        padding: 1rem;

        img {
            height: 40px;
            filter: grayscale(100%);
            opacity: .5;
        }
    }
}

.text--center {
    text-align: center;
}

@media screen and (max-width: 1080px) {
    .about {

        &__wrapper {
            max-width: 800px;
            padding: 4rem 2rem;
        }

        &__content {
            padding: 0 0 0 2rem;
        }

        &__image {
            border-radius: 9999rem;
            width: 200px;
        }
    }
}

@media screen and (max-width: 800px) {
    .about {
        &__wrapper {
            flex-direction: column;
        }

        &__content {
            padding: 4rem 0 0 0;
        }

    }
}