.header {
    background: linear-gradient(#a9bcd0 15%, #fff);
    padding: 3rem 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        color: #373f51;
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
    }
}