.section {
    padding: 4rem 0;

    h3 {

    font-family: "Raleway", sans;
    color: lighten(#58a4b0, 25%);
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    }

    + .section {
        border-top: 1px solid #ccc;
    }

    &--green {
        background: lighten(#58a4b0, 25%);
        color: #fff;

        h3 { color: rgba(255, 255, 255, .75); }
    }

    &--no-padding {
        padding: 0;
    }
    
}